<!DOCTYPE HTML>
<html>
    <head>
        <!-- <meta charset="utf-8"><link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RaspberryPi Dashboard</title>
        <style>
            /* css 代码  */
        </style>
        <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
        <!-- <script src="https://code.highcharts.com.cn/highcharts/themes/grid-light.js"></script> -->
        <!-- <script src="https://code.highcharts.com.cn/highcharts/themes/dark-unica.js"></script> -->

        <script>
            function showDate(){document.getElementById("datetime").innerHTML=Date(),
                                setTimeout(function(){showDate()}, 1000);}
        </script>
    </head>

    <body>

        <div id="header" style="background-color:#aaa;text-align:center;">
            <h1 style="margin-bottom:0;">RaspberryPi Dashboard 智能家居系统监控板</h1></div>

        <div id="leftbar" style="background-color:#ddd;height:80vh;width:20vw;float: left;">
            日期：<b id="datetime">None</b><br>
            温度：<b id='temperature'>None</b>℃ <br>
            湿度：<b id='humidity'>None</b>% <br>
            光线：<b id='light'>None</b> <br>
            气体：<b id='gas'>None</b> <br>
            雨滴：<b id='rain'>None</b> <br>
            声音：<b id='voice'>None</b> <br>
            红外：<b id='track'>None</b> <br>
            报警：<b id='alert_flag'>None</b> <br>
            <script>showDate()</script>
            <script src="{{url_for('static', filename='updatetxt.js')}}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        </div>

        <div style="float:left">
            <div id="container_temp" style="width:25vw;height:40vh"></div>
            <script src="{{url_for('static', filename='temp.js')}}"></script>

            <div id="container_humidity" style="width:25vw;height:40vh"></div>
            <script src="{{url_for('static', filename='humidity.js')}}"></script>
        </div>

        <div style="float: left">
            <div id="container_light" style="width:25vw; height:40vh"></div>
            <script src="{{url_for('static', filename='light.js')}}"></script>

            <div id="container_gas" style="width:25vw; height:40vh"></div>
            <script src="{{url_for('static', filename='gas.js')}}"></script>
        </div>

        <div>
            <div id="container_rain" style="width:25vw; height:40vh"></div>
            <script src="{{url_for('static', filename='rain.js')}}"></script>
            
            <div id="container_alert" style="width:25vw; height:40vh"></div>
            <script src="{{url_for('static', filename='alert.js')}}"></script>
        </div>
        <div id="footer" style="background-color:#aaa;clear:both;text-align:center;">
           <b> copyright © Jonathan Tong, 2020</b>
           <b> 嵌入式系统课程设计2020 by 童闻哲 马喆</b>
        </div>
    </body>
</html>